html {
    font-family: "microsoft yahei",arial;
    font-size: 100%;
}

body {
    z-index:0;
    margin: 0;
    background-color: #fff;
    overflow:hidden;
}

li {
    list-style: none;
}

nav {
		z-index:2;
		position: fixed;
		width: 100%;
		height: 50px;
    background: -webkit-linear-gradient(top, #1C1C1C 0%, #585858 100%);
}

#hidden-container
{
	position: fixed;
	left: -10px;
	width: 130px;
	height: 50px;
	background-color: #DF0101;
	margin-right: 80px;
}

#logo-container
{
	position: fixed;
	left: 10px;
	width: 130px;
	height: 50px;
	background-color: #DF0101;
	border-right: 1em solid #B40404;
	-webkit-transform: skew(-30deg,0deg);
  -moz-transform: skew(-30deg,0deg);
  -ms-transform: skew(-30deg,0deg);
  -o-transform: skew(-30deg,0deg);
  transform: skew(-30deg,0deg); 
}

#logo
{
	position: fixed;
	left: 15px;
	top: 13px;
	width:90px;
	z-index:2;
  -webkit-transform: skew(30deg,0deg);
  -moz-transform: skew(30deg,0deg);
  -ms-transform: skew(30deg,0deg);
  -o-transform: skew(30deg,0deg);
  transform: skew(30deg,0deg); 
}

#titles
{
    position: fixed;
	left: 200px;
	top: 1px;
	width:400px;
    z-index:2;
}

nav ul
{
	position: fixed;
	left: 600px;
	top: -16px;
	width:100%;
}

nav li {
  	vertical-align:middle;
  	text-align: center;
  	width: 80px;
  	height: 50px;
  	line-height:50px;
    display: inline-block;
  	font-family:Arial, Geneva, sans-serif;
    font-weight: 700;
  	font-size: 0.8em;
}

nav li a
{
    text-decoration: none;
    width: 80px;
    display: inline-block;
}

.col-current a
{
		color: #F7FE2E;
}

.col a
{
	  color:#FAFAFA;
		-webkit-transition: all .3s;
	  -moz-transition: all .3s;
	  -ms-transition: all .3s;
	  -o-transition: all .3s;
	  transition: all .3s;
}

.col:hover a,#menuIcon:hover {
    color: #F4FA58;
}

.col:hover, .col-current:hover
{
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 3px;
}
    
#searchBar
{
	position: relative;
	left: -10px;
	float:right;
}

.textInput
{
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #eeeeee;
    color: #5e5e5e;
    font-family: arial, sans-serif;
    font-size: inherit;
    padding: 10px;
    width: 200px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    height: 30px;
    overflow: hidden;
}

.searchButton 
{
	position:relative;
	top: 10px;
	left: -5px;
	background: none repeat scroll 0 0 #A4A4A4;
	font-family: inherit;
	font-size: 20px;
	padding: 5px;
	text-align: center;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
    cursor: pointer;
}

.searchButton:hover
{
	background: none repeat scroll 0 0 #D8D8D8;
}

@media screen and (max-width: 1140px) {
	#hidden-container
	{
		margin-right:80%;
	}
	
	nav {
		height: 100px;
	}

	nav ul
	{
		position: relative;
		left: -20px;
		top: 34px;
	}
	#searchBar
	{
		position: relative;
		top: -32px;
	}
}

@media screen and (max-width: 520px) {
	#searchBar
	{
		display:none;
	}
}

@media screen and (max-width: 248px) {
	nav {
		height: 150px;
	}
}

@media screen and (max-width: 164px) {
	nav {
		height: 200px;
	}
}

#mainBody
{
    height: 800px;
}

#container {
    position: absolute;
    top: 0;
    width: 70%;
    height: 68.5%;
    background-color: white;
    overflow-x: hidden; 
    overflow-y: hidden;
}

#low-half
{
    position: absolute;
    top: 68.5%;
    width: 100%;
    height: 33%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#data-zone
{
    position: absolute;
    left: 0;
    width: 10%;
    height: 94%;
    background: rgba(0,0,0,0.5);
    overflow-x: hidden;
    overflow-y: hidden;
}

#playerImg
{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 85%;
    background: yellow;
}

#table-zone
{
    position: absolute;
    left: 10%;
    width: 40%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    overflow-x: auto;
    overflow-y: auto;
}

#playerInfo
{
    position: absolute;
    left: 5%;
    top: 5.8%;
    width: 90%;
    height: 85%;
}

#playerInfo tr.odd .basicData
{
    background:#f7fbff;
}

.basicTopic
{
    width: 1%;
    height: 15%;
    background:#f4f9fe;
    text-align:center;
    font:bold .8em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color:#66a3d3;
}

.basicData
{
    position: relative;
    left: 5%;
    color:white;
    width: 20%;
    height: 15%;
    font: .8em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    text-align:left;	
}

#chart-zone
{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 96%;
    background: white;
}

#pad
{
    position: relative;
    top:5%;
    left: 2%;
    width: 95%;
    height: 93%;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

#chart-title
{
    position: relative;
    top:-5px;
    font:bold .8em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color: black;
}

#pan
{
    position: absolute;
    top: 50px;
    left: 10px;
    width: 170px;
    height: 110px;
}

#viz
{
    position: absolute;
    top: 20px;
    left: 160px;
    width: 50%;
    height: 90%;
}

#slider-range
{
    position:absolute;
    top: 85%;
    left: 7.5%;
    width: 85%;
    height:5px;
}

#slider-range .ui-slider-handle { height: 15px; }

#right-half {
    position: absolute;
    top: 0;
    left: 70%;
    width: 30%;
    height: 68.5%;
    opacity: 1;
    visibility: visible;
    background: rgba(0,0,0,0.3);
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#rank-zone
{
    position:absolute;
	top: 60px;
	left: 5px;
}

@media screen and (max-width: 1140px) 
{
    #rank-zone
    {
        position:absolute;
        top: 110px;
    }
    
    #smallPanel
    {
        position:absolute;
        top: 110px;
        left: 10px;
    }
    
    #selclr
    {
        position:absolute;
        top: 110px;
        left: 10px;
    }

    #allclr
    {
        position:absolute;
        top: 110px;
        left: 120px;
    }
}

@media only screen and (max-width : 650px) 
{
    #container
    {
        width: 100%;
    }
    
    #right-half 
    {
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 248px) {
	#smallPanel
    {
        position:absolute;
        top: 160px;
        left: 10px;
    }
    
    #selclr
    {
        position:absolute;
        top: 160px;
        left: 10px;
    }

    #allclr
    {
        position:absolute;
        top: 190px;
        left: 10px;
    }
}

@media screen and (max-width: 164px) {
	#selclr
    {
        position:absolute;
        top: 210px;
        left: 10px;
    }

    #allclr
    {
        position:absolute;
        top: 240px;
        left: 10px;
    }
    
    #smallPanel
    {
        opacity: 0;
        visibility: hidden;
    }
}

@media only screen and (max-height : 650px) 
{
    #smallPanel
    {
        opacity: 0;
        visibility: hidden;
    }
}

@media only screen and (max-height : 400px) 
{
    #container
    {
       width: 100%;
       height: 100%;
    }
    
    #right-half 
    {
        opacity: 0;
        visibility: hidden;
    }
    
    #low-half
    {
    	opacity: 0;
        visibility: hidden;
    }
}